@model Esercitazione_14.Models.Prodotto

@{
    ViewData["Title"] = Model.Nome;
}

<h1>@Model.Nome</h1>

<div class="dettagli-prodotto">
    <img src="@Model.ImmagineCopertina" alt="@Model.Nome" />
    <p>Prezzo: @Model.Prezzo €</p>
    <p>@Model.Descrizione</p>
    <div class="immagini-aggiuntive">
        <img src="@Model.ImmagineAggiuntiva1" alt="Immagine Aggiuntiva 1" />
        <img src="@Model.ImmagineAggiuntiva2" alt="Immagine Aggiuntiva 2" />
    </div>
</div>

<style>
    .dettagli-prodotto {
        text-align: center;
    }

        .dettagli-prodotto img {
            max-width: 100%;
            height: auto;
        }

    .immagini-aggiuntive {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

        .immagini-aggiuntive img {
            max-width: 200px;
            height: auto;
        }
</style>
